<form role="form" novalidate>
    <fieldset>

    <div class="form-group">
        <label>标题</label>
        <input ng-model="post.title" class="form-control" placeholder="文章标题">
        <!--<p class="help-block">请输入标题</p>-->
    </div>

    <div class="form-group">
        <label>作者</label>
        <input ng-model="post.author" class="form-control" placeholder="作者">
        <!--<p class="help-block">请输入标题</p>-->
    </div>

    <div class="form-group">
        <label>选择分类</label>
        <select class="form-control" ng-model="selectedCategory" ng-options="x.name for x in categorys">
        </select>
    </div>

    <div class="form-group">
        <label>摘要</label>
        <textarea ng-model="post.brief" class="form-control" rows="3" placeholder="不要超过100字"></textarea>
    </div>

    <div class="form-group">
        <label>缩略图</label>
        <div>
            <!-- 采用angular循环的方式，对存入thumb的图片进行展示 -->
            <label>
                <img ng-show="post.thumbnail" class="img-thumbnail" width="100" ng-src="{{post.thumbnail}}"/>
            </label>
            <!--<span ng-if="item.imgSrc" ng-click="img_del($index)"></span>-->
        </div>
        <!--<input>-->
        <input class="input-lg" type="file" nv-file-select="" uploader="uploader">
        <!--<button class="btn btn-default" ng-click="uploader.uploadAll()">上传</button>-->
    </div>

    <div class="form-group">
        <label>正文</label>
        <!--summernote编辑器-->
        <summernote ng-model="post.content" config="options" on-image-upload="imageUpload(files)"></summernote>
    </div>

    <div class="form-group">
        <label class="checkbox-inline">
            <input ng-model="post.publish" type="checkbox">发布
        </label>

        <label class="checkbox-inline">
            <input ng-model="post.recommend" type="checkbox">置顶
        </label>

    </div>
    <button ng-click="submit()" class="btn btn-primary">提交</button>
    <!--<button type="submit" class="btn btn-default">重置</button>-->
    </fieldset>
</form>
